{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "eslint-config-airbnb-base",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-return-assign": ["error", "except-parens"],
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts"]
      }
    }
  }
}
